/* FOGLIO DI STILE PER IL PROGETTO DI TECWEB 2014 VERSIONE SCREEN */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 0.8em;
	background-color:#7d7d7d;
	vertical-align: baseline;
}
/* sposta i contenuti fuori dallo schermo */
.shiftsx {
	text-indent: -9999px;
}

/* definizione del main cioè la pagina centrale */
#main {
	min-height: 100%;
	background-color: #FFFFFF;
    padding: 0 2em;
    max-width: 80em;
    overflow: hidden;
    margin: 0 auto;
}

/* definizione header con il logo e l'accesso */
#header {
	padding: 0.2em;
	height: 110px;
	margin: 0;
	vertical-align: baseline;
}

#logo {
	margin: 10px 0 0 0;
	width: 350px;
	height: 50px;
	background-image: url(../img/logo2.png);
	background-repeat: no-repeat;
	float: left;

}

.button {
	float: right;
	padding: 10px;
	margin-top: 10px;
}

.button a {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 6px 10px;
	border: 2px solid #000000;
	border-radius: 7px;
	background-color: #f5d907;
}

#loggato p{
	font-size:small;
	display: inline;
}
/* definizione del menù di navigazione con la lista di link */
#nav {
	width: 100%;
	height: auto;
	float: left;
}

#nav ul li {
	margin: 0;
	padding: 15px 0;
}

#nav ul {
	width: 100%;
	float: left;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style: none;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
}

#nav li {
	float: left;
	margin-right: 5px;
}

#nav a {
	color: #000000;
	text-align: center;
	padding: 15px;
	font-size: 1.25em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#nav a:hover {
	background-color: #f5d907;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#nav a.attuale {
	border: 0;
	background-color: #afafaf;
	color: #3d3d3d;
}

#nav a.attuale:hover {
	background-color: #afafaf;
}

/* definizione del path che contiene uno span con l'indicazione della pagina corrente */
#path {
	padding: 5px 0;
	width: 100%;
	float: left;
	background-color: #3d3d3d;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
}

#path span {
	color: #f5d907;
	padding-left: 10px;
}

/* definizione corpo */
#corpo {
	float: left;
	width: 100%;
}

/* definizione class display */
.display {
	min-height: 250px;
	padding: 1.5em;
	margin-top: 20px;
	background-image: url(../img/bg_contenitore.png);
	background-repeat: repeat-y;
	border: #000000 solid 1px;
	border-radius: 7px;
	/* ombreggiarura standard, per chrome e per firefox */
	box-shadow: 0px 7px 10px #000000;
	-webkit-box-shadow: 0px 7px 10px #000000;
	-moz-box-shadow: 0px 7px 10px #000000;
}

.display p {
	padding: 0 2em;
	font-size: medium;
}

.display a {
	font-size: larger;
}

.display h2 {
	margin: 0;
	color: #f5d907;
	text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
	font-size: x-large;
	font-family: fantasy; 
}

.display hr {
	height: 5px;
	background-color: #000000;
	margin: 0;
	border-style: none;
}

.miniature {
	height: 200px;
	width: 130px;
	margin-top: 20px;
	margin-right: 40px;
	display: inline-block;
	background-color: #3d3d3d;
}

.miniature img {
	margin: 0;
	padding: 0;
	height: 200px;
	width: 130px;
}

.miniature a {
}

.miniature span {
	display: none;
}
/* definizione del footer */
#footer {
	width: 100%;
	margin-top: 80px;
	border-top: 2px solid #000000;
	float: left;
	clear: both;
}

/* CLASS Forms */

.forms {
	margin: 1em;
	font-size: larger;
}

.forms fieldset, legend {
	color: #000000;
}

.forms fieldset {
	padding: 2% 4%;
	border-color: #000000;
	border-radius: 10px; 
}

.forms label {
	float:left;
	margin-right: 0.5em;
	text-align: right;
	font-weight: bold;
}

.forms label, input {
	margin: 1em 0.5em;
	position: relative;
	float: left;
}

.span_err {
	display: inline-block;
	margin: 1em 0.5em;
	color:#ff0000;
}

/* class input_label */
.input_label {
	width: 100%;
	float: left;	
}